
<div class  = "detail-component-side-panel-conatiner">
  <div class="category"> {{item.category}}
      </div>      <!--category-->
  <div class = "detail-component">
    <h1> {{item.title}} </h1>
     <div class="stamp"> {{item.date | date:'medium' }} &nbsp;&nbsp;
    </div>    <!--stamp-->
    <div class="author"> &nbsp; {{item.author}}
    </div>    <!--author-->
     <div class = "avatar">
    <img src = {{item.avatar}}>
    </div> <!--avatar-->
<!--<div class  = "body" [innerHTML] = "item.body">-->
   <div class  = "body" [innerHTML] = "bodySanitized">      
    </div>  <!--body-->


  </div>   <!--detail-cmponent-->
    <div class = "side-panel">
    Side panel
  </div>  <!--side-panel-->
  
<!--  <div *ngIf = "item.id" >
   <disqus [shortname]="shortname"   [identifier]="item.id"  ></disqus>
  </div>-->
<!--[url]="pageUrl"-->
 
 </div> <!--detail-component-side-panel-conatiner-->

<div class= "clr">
</div>  <!--clr-->
<!--

<a href={{href}}>Second article</a>

<span class="disqus-comment-count" 
data-disqus-identifier="identifier">
First article
</span>


<span class="disqus-comment-count" 
data-disqus-url="http://195.138.78.131/newsApp/#/item/78">
First article
</span>

<span class="disqus-comment-count" 
data-disqus-url="http://195.138.78.131/newsApp/%23/item/78">
First article
</span>
-->

