
<div class  = "detailConatiner">
    <div class="category"> {{item.category}}
     </div>      <!--category-->
  
  
    <h2> {{item.title}} </h2>
    
    <div class="stamp"> {{item.date | date:'medium' }} &nbsp;&nbsp;
    </div>    <!--stamp-->
    
    <div class="author"> &nbsp; {{item.author}}
    </div>    <!--author-->
   
    <div class = "avatar">
      <img src = {{item.avatar}}>
    </div> <!--avatar-->
<!--<div class  = "body" [innerHTML] = "item.body">-->
   
   <div class  = "body" [innerHTML] = "bodySanitized">      
   </div>  <!--body-->

</div>  <!--detail-component-side-panel-conatiner-->
 

<div class= "clr">
</div>  <!--clr-->




