
<div class  = "detail-component-side-panel-conatiner">
  <div class="category"> {{item.category}}
      </div>      <!--category-->
  <div class = "detail-component">
    <h1> {{item.title}} </h1>
     <div class="stamp"> {{item.date | date:'medium' }} &nbsp;&nbsp;
    </div>    <!--stamp-->
    <div class="author"> &nbsp; {{item.author}}
    </div>    <!--author-->
     <div class = "avatar">
    <img src = {{item.avatar}}>
    </div> <!--avatar-->
<!--<div class  = "body" [innerHTML] = "item.body">-->
   <div class  = "body" [innerHTML] = "bodySanitized">      
    </div>  <!--body-->


  </div>   <!--detail-cmponent-->
    <div class = "side-panel">
   <app-top-commented>
     </app-top-commented>
  </div>  <!--side-panel-->
 

<div class= "clr">
</div>  <!--clr-->



