<div class= "date-picker">
   <h4>{{direction}} date: {{ getDate() | date:'fullDate'}}</h4> 
  <div style="display:inline-block; min-height:290px;">
    <datepicker [(ngModel)]="dt"
     [minDate]="minDate" 
     [showWeeks]="true"
     [dateDisabled]="dateDisabled">
    </datepicker>
  </div>
 
  <!--
  <button type="button" 
  class="btn btn-sm btn-info" 
  (click)="today()"
  >Today
  </button>
  
  <button type="button" 
    class="btn btn-sm btn-danger" 
  (click)="clear()">
   Clear
   </button>  
</div>-->