 .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
  .clear{
      clear: both;
  }

.calendar-container{
    max-width: 1000px;
    margin: auto;
}

.invisible{
    display: none;
}
#search-btn{
    margin-left : 10%;
    
}