<div class = "calendar-container">
 <div class= "date-picker-container" 
 [ngClass]="{invisible: visibility}">
  <date-picker
   (onDateChanged)="onDateFromChanged($event)"
   [direction] = "from"  >
  </date-picker>
  <date-picker  
   (onDateChanged)="onDateToChanged($event)"
   [direction] = "to">
  </date-picker>
  <div class= "clear">
  </div><!--  clear-->
   <button id="search-btn" (click)="getItems()" > 
    Search
  </button>
</div>  <!--date-picker-container-->
 <div *ngIf ="wrongDate">
    <h2>Mistake in date selection  </h2>
  </div> <!--wrongDate-->
  <button 
  [ngClass]="{invisible: !visibility}"
  (click)="toggleVisibility()" > 
    New search
  </button>

  <app-list 
   [itemsList]="itemsList" 
   [classOfInitialPage]="classOfInitialPage"
   [loadIndicator] = "loadIndicator">
    Loading...
  </app-list>
</div>    <!--calendar-container-->






  
  