.news-container{
    
    max-width: 1200px;
    margin: auto;
}

.items-list-continer{
      width: 70%;
    float:left;
    
}
.right-panel{

  border: solid 1px rgb(221, 221, 221);
  overflow : hidden;
  background-color: #F0FFF0;
  margin-left : 75%;
  margin-top: 40px;
  width: 300px;
}



@media screen and (max-width: 960px){
    .right-panel{
       display:none;
      }
     .item-detail{
      width: 100%;  
     }
     .items-list-continer{
      width: 100%;
      }

}