<div class="outer">
  <div class="links">
     <a routerLink="" routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact:true}">
    #HOME
   </a>
    <a routerLink="/news" routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact:true}">
    NEWS
   </a>
 
    <a routerLink="/video" routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact:true}">
    VIDEO
   </a>
    <a routerLink="/blogs" routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact:true}">
    BLOGS
   </a>

    <a routerLink="/calendar" routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact:true}">
    CALENDAR
   </a>

     <a routerLink="/add" routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact:true}">
    ADD
   </a>
  

 <a routerLink="/TMP" routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact:true}">
    TMP
   </a>
  </div> <!--links-->
</div>  <!--outer-->


<div class="tehu">
 <div style="margin-left:auto;margin-right:auto;"></div>
  </div>