<div class= "slider-container">
<carousel>
  <slide>
    <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="https://www.w3schools.com/howto/img_mountains.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="https://www.ucl.ac.uk/news/news-articles/1213/muscle-fibres-heart.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide><slide>
    <img src="https://www.ucl.ac.uk/news/news-articles/1213/muscle-fibres-heart.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide><slide>
    <img src="https://www.ucl.ac.uk/news/news-articles/1213/muscle-fibres-heart.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>

</div>
<br>
<hr>



<div class= "outer">

<div class ="red">  
</div>  

<div class= "blue">  
</div>

</div>


<div style = "width:200px;
	height:200px;">

<div style="float:left;
	width:100px;
	height:100px;
	margin:10px;
	background:#FFC0C0;
  position: relative;
        left: 150px;
        top: 150px;"></div>
<div style="background:#C0FFC0;">text text text text text text text 
  text text text text text text text text 
  text text text text text text text text 
  text text text text text text text text 
  text text text text text ...</div>


</div>

<div class= "green" >
  <div class = "orange">
  </div>
</div> 






<!-- 
  
  
  <rule name="AngularJS Routes" stopProcessing="true">
      <match url=".*" />
      <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
      </conditions>
      <action type="Rewrite" url="/" />
    </rule>
    -->