.disqus{
   
     max-width: 85%;
     margin-left:7%
}

.full-item-container{
    margin: auto;
    max-width: 1200px
}

.item-detail{
  
    width: 75%;
    float :left;
  
}

.right-panel{
  border: solid 1px rgb(221, 221, 221);
  overflow : hidden;
  background-color: #F0FFF0;
  margin-left : 75%;
  margin-top: 40px;
  width: 25%;
}

