
<div class = "title"> Add new article
</div>
<div class="add">
<form novalidate (ngSubmit)="onSubmit(addNewArticle)" [formGroup]="addNewArticle" class="ui form">
  <label> Title</label>
  <input type="text" placeholder="TITLE" formControlName="title" class="form-control">
 <!-- <div *ngIf="addNewArticle.get('title').hasError('required') && addNewArticle.get('title').touched">
    Name is a required field
  </div>
  <div *ngIf="addNewArticle.get('title').hasError('minlength') && addNewArticle.get('title').touched">
    Name should be minimum 4 characters
  </div>-->

  <label  for="formGroupExampleInput"> Avatar Source</label>
  <input type="text" placeholder="AVATAR SOURCE" formControlName="avatar" class="form-control">
  <!--<div *ngIf="addNewArticle.get('avatar').hasError('required') && addNewArticle.get('avatar').touched">
    Name is a required field
  </div>
  <div *ngIf="addNewArticle.get('avatar').hasError('minlength') && addNewArticle.get('avatar').touched">
    Name should be minimum 4 characters
  </div>-->


  <label> Autor's name</label>
  <input type="text" placeholder="Autor's Name" formControlName="author" class="form-control">


  <label> Video URL </label>
  <input type="text" placeholder="Video URL" formControlName="videoURL" class="form-control">
  <!--<div *ngIf="addNewArticle.get('author').hasError('required') && addNewArticle.get('author').touched">
    Name is a required field
  </div>
  <div *ngIf="addNewArticle.get('author').hasError('minlength') && addNewArticle.get('author').touched">
    Name should be minimum 4 characters
  </div>-->

  <div >
    <div >
     
      <label for="articleType">Select Article Type:</label>
    
      
        <div class="form-check form-check-inline">
          <label class="form-check-label">
          <input class="form-check-input" type="radio" name="articleType" value="news" formControlName="articleType">News
          </label>
        </div>
     


     
      <div class="form-check form-check-inline">
            <label class="form-check-label">
          <input class="form-check-input"  type="radio" name="articleType" value="blog" formControlName="articleType">Blogs
          </label>
        </div>
      
     
     
     
     
       <div class="form-check form-check-inline">
           <label class="form-check-label">
          <input  class="form-check-input" type="radio" name="articleType" value="article" formControlName="articleType">Articels
          </label>
        </div>
      
   
   
   
   
     
        <div class="form-check form-check-inline">
          <label>
          <input class="form-check-input" type="radio" name="articleType" value="video" formControlName="articleType">Video
          </label>
        </div>
      </div>
    

  </div>



<app-tiny-editor
  [elementId]="'my-editor'"
  (onEditorContentChange)="keyupHandler($event)"
  >
</app-tiny-editor>



 <!-- <button type="submit" [disabled]="addNewArticle.invalid">Add</button>
  <button (click)="preview(addNewArticle)">Preview</button>-->
  <button (click)="post()"> Post </button>
</form>


