
.main-container{
    
    max-width: 1200px;
    
    font-family: 'Roboto';
    margin: auto;

   }


.right-panel {
 border: solid 1px rgb(221, 221, 221);
  overflow : hidden;
  background-color: #F0FFF0;
  margin-left : 75%;
  width: 300px;
  
 
}

.list-wrapper{
    width : 70%;
    float: left;
   /* background-color: white;*/

}


.clr{
    clear: both
}

