
.main-container{
    width : 95%;
    max-width: 1100px;
    padding : 1% 1% 0% 2%;
    font-family: 'Roboto';
    margin: 0 auto;

   }


.right-panel {
 border: solid 1px rgb(221, 221, 221);
  overflow : hidden;
   background-color: #F0FFF0;
  margin-left : 75%;

  
 
}

.list-wrapper{
    width : 70%;
    float: left;
   /* background-color: white;*/

}


.clr{
    clear: both
}

